# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# VS Code Settings
.vscode/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Python Build Files
build/
dist/
*.egg-info/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# SQLite Database
*.sqlite3

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage Reports
.coverage
htmlcov/

# Temporary Files
*.tmp
*.temp